@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #455a64;
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.048),
    0 0px 20px 0 rgba(0, 0, 0, 0.048);
}

ul {
  padding: 20px 120px;
}

#logo {
  margin-right: 40%;
}

a.logo {
  font-weight: 700;
  font-size: 37px;
  color: #ff725e;
  margin-right: 500px;
}

.icons a.logo2,
.icons #logo2 {
  font-weight: 700;
  font-size: 37px;
  color: #ffffff;
  margin-right: 10px;
  width: 150px;
}

li,
a {
  font-weight: 700;
  font-size: 18px;

  width: 150px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #455a64;
  text-align: center;
}
a.log-in {
  width: 150px;
  margin-left: 50px;
  background-color: #ffffff;
  border: #ff725e solid 2px;
  color: #455a64;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
}

.sent-btn {
  background-color: #ff725e;
  color: white;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
}

a.log-in:hover {
  background-color: #ff6752;
  color: #ffffff;
}

.sent-btn:hover,
button:hover {
  background-color: #ff6752;
}

header {
  margin-top: 100px;
  display: inline-block;
  width: auto;
  height: 100vh;
}

.header-text {
  width: 400px;
  z-index: 2;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 120px;
}

.hikers-img {
  position: absolute;
  z-index: 1;
  width: 845px;
  top: 120px;
  right: 0;
}
h1 {
  margin-top: 15px;
  font-size: 52px;
  font-weight: 700;
}

p {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  line-height: 1.5;
}

button {
  width: 180px;
  background: #ff725e;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 15px;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
}

.contact-form-section {
  background-color: #fddeda;
  z-index: 3;
  padding: 50px;
}

footer {
  background-color: #455a64;
}

.contact-text {
  position: relative;
  text-align: center;
  margin: 50px 50px 100px 50px;
}

.contact-form {
  text-align: center;
  width: auto;
  position: relative;
  margin-bottom: 75px;
}

h2 {
  font-size: 32px;
}

input {
  background-color: white;
  border-radius: 50px;
  width: 470px;
  height: 58px;
  color: #ff725e;
  border: 0;
  display: block;
  text-align: center;
  position: relative;
  margin: 20px auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

input:focus-visible {
  outline-offset: 0px;
  outline: #ff725e auto 3px;
}

:focus-visible {
  outline: #ff725e auto 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #455a64;
  opacity: 0.5; /* Firefox */
}

.icons span {
  font-weight: 700;
  font-size: 20px;

  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #ff725e;
}

.icons li,
a {
  width: 50px;
}

.icons li.rights {
  position: absolute;
  right: 120px;
  color: white;
  width: auto;
  text-align: right;
}
